html, body {
  margin: 0;
  padding: 0;
  
}
canvas {
  display: block;
  overflow: hidden;
}

h1{
  padding: 30px 50px;
}

p{
  padding: 5px 10px;
}

a{
  padding: 5px 10px;
  display: block;

}
div{
  margin: 2em;
  display: block;
}

button{

  /*padding: 10px 10px;*/
}